// 實驗室顏色變數
$primaryColor: #98c5f0;
$bodyBg: #73aee8;
$buttonBg: #2b90dc;
$fontColor: #666;
$fontLight: #D1D2D3;
$hilight: #FF2D2D;
$hilight2: #fedd22;
$inputFocus: rgba(255,255,255,.6);
$iconHover:#d1f0f8;
$white: #fff;
$gc1: #98c5f0;
$gc2: #549be1;

// 背景圖
