// // 長度變數
// $bdRadius: 16px;

// // RWD 斷點
// $wwNormal: 1000px;
// $wwMaximum: 1600px;
// $wwBound: 1920px;

a{ outline: none; }

body {
  padding: 0; margin: 0;
  background-color: $bodyBg;color: $fontColor;
  font-size: 1em;font-family: 'Poppins', sans-serif;
  &::before{
    content: ''; position: fixed; left: 0;right: 0;top: 0;bottom: 0;
    background-image: linear-gradient(150deg, $gc1 0%, $gc2 120%);
  }

  *{box-sizing: border-box;}
  
  @media screen and (min-width: $wwNormal){
    position: relative;
    &::before{
      background-repeat: no-repeat;
      background-position: center top 50%;
      background-size: cover;
    }
    &::after{
      content: ''; position: fixed; 
      height: 90vh; top: 50%; transform: translateY(-50%);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

}

// 診所
body.clinic{
  
  @media screen and (min-width: $wwNormal){
    &::before{
      background-image: url(../images/bodyBg-clinic.jpg);
    }
  
    &::after{
      left: 42%;width: 56%;
      // max-width: 1100px; 
      // max-height: 670px;
      background: url(../images/clinicBg.svg) no-repeat right center;
    }
  }

  @media screen and (min-width: 1310px){
    &::after{
      left: calc(500px + 4%); width: auto; right: 2%;
    }
  }

  @media screen and (min-width: $wwMaximum){
    &::after{left: calc(50% - 236px); max-width: 1100px;}

  }
}

// 實驗室
body.lab{
  @media screen and (min-width: $wwNormal){
    &::before{
      background-image: url(../images/bodyBg-lab.jpg);
    }
    &::after{
      right: 2.5%;left: 45%;
      background: url(../images/labBg.svg) no-repeat center center;
    }
  }

  @media screen and (min-width: 1310px){
    &::after{
      left: calc(550px + 3%);
    }
  }

  @media screen and (min-width: $wwMaximum){
    &::after{left:calc(50% - 202px);}
  }

  @media screen and (min-width: $wwBound){
    &::after{
      right: auto; width: 1110px;
    }
  }
}

// 平台
body.platform{
  @media screen and (min-width: $wwNormal){
    &::before{
      background-image: url(../images/bodyBg-platform.jpg);
    }
    &::after{
      left: 45%; width: 53%; max-width: 1034px;
      background: url(../images/platformBg.svg) no-repeat left center;
      background-size: contain;
    }
  }

  @media screen and (min-width: 1390px){
    &::after{
      left: calc( 590px + 2.5%);
    }
  }

  @media screen and (min-width: $wwMaximum){
    &::after{
      left: calc( 50% - 170px);
    }
  }
}


////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////


// 登入區 ////////////////////////////////////////
.loginHere{
  position: relative; z-index: 9;
  margin: 0 auto;
  width: 94%;max-width: 550px;

  ////////////////////////////////////////////////
  // form 元件 -----------------------------------
  input{outline: none; transition: .2s; }
  input[type="radio"], input[type="checkbox"] {
    -webkit-appearance: none; -moz-appearance: none; appearance: none;
  }
  input[type="text"],
  input[type="password"] {
    font-size: 1rem;
    border: none;background: $white;
    &:focus{
      box-shadow: $inputFocus 0 0 0 3px;
    }
  }
  input[type="checkbox"]{
    position: relative;
    width: 2em; height: 2em; vertical-align: middle;
    margin: 0 .8em 0 2px;
    border-radius: $bdRadius*.5;
    border: none;
    background: $white;
    cursor: pointer;
    &:focus{box-shadow: $buttonBg 0 0 0 2px; }

    &:checked{
      box-shadow:$white 0 0 0 2px;
      background-color: $buttonBg;
      &::before{ display: block;}
    }
    &::before{
      display: none;
      content: ''; 
      position: absolute;width:.65em; height: 1.2em;
      left: .5em; top: .06em;
      border: 4px solid $white;
      border-top: none; border-left: none;
      border-radius: 1px;
      transform: rotate(45deg);
    }
  }
  ::placeholder {
     color: $fontLight; font-size: .875em;
  }
  :-ms-input-placeholder {
    color: $fontLight; font-size: .875em;
  }
  ::-ms-input-placeholder {
    color: $fontLight; font-size: .875em;
  }
  button{
    margin: 0;padding: 0;
    border: none; background: none; outline: none;
    cursor: pointer; transition: .2s;

  }
  button[class^="icon_"]{
    border-radius: 50%;
    transition: .2s;
    &[class^="icon_"]{
      &:hover, &:focus{
        background-color: $iconHover;
      }
    }

  }
  ////////////////////////////////////////////////


  // 大標題
  &>header{
    position: relative;
    margin: 0 auto 20px;  text-align: center; color: $white;
    h1{font-size: 2.5rem; margin: 0; padding-top: 1.5em;}
  
    img{
     display: block; margin: 0 auto;
    }
  }

  // 一組輸入欄位 //////////
  .formRow{
    margin: 5px auto 30px;
    label{
      display: block;margin: 0 0 .5em;line-height: 1.3;
    }

    // 帳號、密碼 //////////
    &.id, &.pw{
      position: relative;
      input{ 
        width: 100%; height: 4.8em; padding: 0 64px;
        border-radius: $bdRadius;
      }
      &::before{
        content: '';
        position: absolute; left: 18px;
        width: 32px; height: 32px;
      }
    }

    &.id{
      &::before{
        bottom: calc(2.4em - 16px);
        background: url(../images/icon_id.svg) no-repeat center center;
        background-size: 24px auto;
      }

      label{ color: $white;}
    }
    &.pw{
      margin-bottom: 20px;
      &::before{
        top: calc(2.4em - 16px);
        background: url(../images/icon_pw.svg) no-repeat center center;
        background-size: 24px auto;
      }

      // 顯示密碼的圖示
      .icon_eye {
        position: absolute; width: 56px; height: 56px;
        top: calc(2.4em - 21px); right: 8px;
        background:url(../images/icon_eye.svg) no-repeat center center;
        background-size: 38px auto;
      }
    
      // 忘記密碼
      p {
        margin:14px 10px 0;
        font-size: .875em;text-align: right;line-height: 1.1;
        color: $error;
        a{
          display: inline-block; position: relative;
          padding: 0 0 3px;
          color: $error; text-decoration: none;

          &::after{
            content: '';
            position: absolute; left: 0;right: 0; bottom: 0;
            height: 1px; background-color: transparent;
          }

          &:hover, &:focus{
            &::after{
              background-color: $error;
            }
          }
        }
      }
    }

    // 記住我
    &.rememberMe{
      label{
        line-height: 1.5; cursor: pointer;
        input{
          margin-top: -.1em;
        }
      }
    }
  }


  // 驗證碼 //////////
  .captcha{
    display: flex;
    margin-top: 60px;
    &>input{
      flex: 1 1 60%; height: 56px; border-radius: 0;
      padding: 0 .5em;
    }
    &>.captchaCode{
      flex: 0 1 40%; margin: 0 0 0 10px;
      background-color: $white;
      
      display: flex;
      justify-content: space-between; align-items: center;

      img{
        height: 32px; width: 100px; object-fit: contain; margin-left: 8px;
      }

      .icon_regen{
        width: 44px; height: 44px; margin:0 8px;
        background: url(../images/icon_refresh.svg) no-repeat center center;
        background-size: 22px;
      }
    }
  }


  // 登入按鈕 //////////
  .butDv{
    margin: 30px auto;
    input[type="button"], input[type="submit"], button{
      font-size: 1.5rem; height: 3.6em; line-height: 2.8;
      background-color: $buttonBg; color: $white;
      border: none; border-radius: $bdRadius; cursor: pointer;
      &:only-child{width: 100%;}

      &:hover, &:focus{background-color: $buttonPressed;}
      &:focus{box-shadow: $buttonPressed 0 0 0 3px;}
    }
  }


  // 底部資訊
  .newAccount, .bottomLinks{
    a{
      position: relative;text-decoration: none;
      &::after{
        content: ''; position: absolute; left: 0;right: 0; bottom: 0;
        height: 1px;
      }

      &:hover, &:focus{
        &::after{
          height: 2px;
        }
      }
    }
  }
  // Don't have an account 
  .newAccount{
    margin: 2.5em 0; text-align: center; line-height: 1.5;
    a{
      display: inline-block; margin-left: 1em; color: $white;
      &::after{
        background-color: $white;
      }
    }
  }


  // Contact Us, Privacy Policy
  .bottomLinks{
    ul{
      list-style: none; margin:3em 0 0; padding: 0;
      text-align: center;line-height: 1.5;
      display: flex; justify-content: center;
    }
    li{
      margin: 0 .7em;
      a{
        display: block;color: $fontColor;
        &::after{
          background-color: $fontColor;
        }
  
      }
    }
  }

  @media screen and (min-width: $wwNormal){
    top: 50vh; transform: translateY(-50%);
    width: 42%; margin: 0;
    left:2.5%; 
    

    // &::before{
    //   content: ''; position: fixed; top: 0;bottom: 0; left: 50vw; right: 50vw;
    //   width: 1px; background-color: #cf0;
    // }

    &>header{
      h1{padding-top: 0;}
    }
  }



  @media screen and (min-width: $wwMaximum){
    left: calc(50% - 760px)
  }
}