// 診所顏色變數
$bodyBg: #9fd0dd;
$buttonBg: #2B90DC;
$buttonPressed: #096DD9;
$fontColor: #666;
$fontLight: #D1D2D3;
$error: #FF4D4F;
$warning: #FFC53D;
$inputFocus: rgba(255,255,255,.6);
$iconHover:#d1f0f8;
$white: #fff;
$gc1: #9fd0dd;
$gc2: #5aacb4;
