// 實驗室
body{
  @media screen and (min-width: $wwNormal){
    &::before{
      background-image: url(../images/bodyBg-lab.jpg);
    }
    &::after{
      left: 45%; width: 52.5%;
      background: url(../images/labBg.svg) no-repeat center center;
    }
  }

  @media screen and (min-width: 1310px){
    &::after{
      left: calc(550px + 3%);
      max-width: 1110px;
    }
  }

  @media screen and (min-width: $wwMaximum){
    &::after{
      left:calc(50% - 202px);
    }
  }
}